:root {
    --primary: #5551ff;
    --primary-dark: #a259ff; 
    --danger: #951f2b;
    --border: #d1d5db;
    --bg: #141416;
    --text: #0fa958; 
    --radius: 12px; 
}

body{
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 12px;
    background: var(--bg);
    color: var(--text);
    width: 320px;
}

#container{
    display:flex;
    flex-direction:column;
    gap: 16px;
}

#title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 12px;
    color: var(--primary-dark)
}

label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

input[type="text"]{
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    outline: none; 
    transition: 0.2s;
}

input[type="text"]:focus{
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

#buttons-container{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

button{
    flex: 1;
    padding: 10px; 
    border: none; 
    border-radius: var(--radius);
    font-size: 14px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: 0.2s;
}

#enableFocus{
    background-color: var(--primary-dark);
    color: white;
    transition: background 0.25s ease, color 0.25s ease;
}

#enableFocus:hover {
    background: var(--primary); 
}

#disableFocus {
    background-color: transparent;
    color: var(--danger);
    border: 2px solid var(--danger);
    transition: background 0.25s ease, color 0.25s ease;
}

#disableFocus:hover {
    background: var(--danger);
    color: white;
}
